## Sets

In [1]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var =  {1,2,3,4,5,3}
set_var

{1, 2, 3, 4, 5}

In [3]:
set_var = {"Avengers","Ironman","Hitman"}
print(set_var)
print(type(set_var))

{'Avengers', 'Ironman', 'Hitman'}
<class 'set'>

In [4]:
# Python Sets does not support Indexing
set_var[0]

TypeError: 'set' object is not subscriptable

In [5]:
set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [11]:
set1 = {"Avengers","Ironman","Hitman"}
set2 = {"Avengers","Ironman","Hitman","Hulk"}
set2.difference(set1)

{'Hulk'}

In [12]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [13]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [14]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'Ironman'}

In [8]:
set2

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [10]:
set2.difference_update(set1)
set2

{'Hulk'}

## Dictionaries

In [1]:
dic = {}

In [2]:
print(type(dic))

<class 'dict'>

In [4]:
d = dict()
print(type(d))

<class 'dict'>

In [5]:
my_dict = {
    "Car1":"Audi",
    "Car2":"BMW",
    "Car3":"Mercedez Benz"
}
print(type(my_dict))

<class 'dict'>

In [6]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedez Benz'}

In [8]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [9]:
my_dict["Car1"]

'Audi'

In [11]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedez Benz

In [10]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedez Benz')

In [12]:
my_dict['Car3'] = "Rolls Royce"

In [13]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Rolls Royce'}

## Nested Dictionaries

In [14]:
car1_model = {"Mercedez":1960}
car2_model = {"Audi":1970}
car3_model = {"Ambassador":1980}
car_type = {
    "Car1":car1_model,
    "Car2":car2_model,
    "Car3":car3_model
}
car_type

{'Car1': {'Mercedez': 1960},
 'Car2': {'Audi': 1970},
 'Car3': {'Ambassador': 1980}}

In [15]:
car_type['Car1']['Mercedez']

1960

## Tuples

In [16]:
my_tuple = tuple()

In [17]:
my_tuple = ("Anurag","Rohan","Akash")
my_tuple

('Anurag', 'Rohan', 'Akash')

In [18]:
print(type(my_tuple))

<class 'tuple'>

In [19]:
my_tuple[0]

'Anurag'

In [20]:
my_tuple[0] = "Arnav"

TypeError: 'tuple' object does not support item assignment

In [21]:
my_tuple = ("Hello","World")
my_tuple

('Hello', 'World')

In [22]:
my_tuple = ("Anurag","Rohan","Akash","Anurag","Akash","Ankur","Rohit")
my_tuple

('Anurag', 'Rohan', 'Akash', 'Anurag', 'Akash', 'Ankur', 'Rohit')

In [23]:
my_tuple.count("Anurag")

2

In [24]:
my_tuple.index("Rohan")

1